#tabs {overflow-x: hidden;overflow-y: auto;position: absolute;left: 0;width: 15vw;max-height: calc(100vh - 2em);top: 2em;flex-wrap: wrap-reverse; }
#tabs > span {min-height: 1.9em;max-height: 1.9em;min-width: 14vw !important;width: 15vw;}
#page-container {height: calc(100vh - 2em);position: absolute;top: 2em;left: 15vw;width: 85vw;}
#app.fullscreen #page-container {height: 100vh;width: 100vw;top: 0;left: 0;}
#app.tabshidden #page-container {width: 100vw;left: 0;}
#app.navigationhidden #page-container {height: 100vh;top: 0;}
#app.navigationhidden #tabs {top: 0;max-height: 100vh;}
#tabs::-webkit-scrollbar {width: .2em;height: auto;}
.bottomright {right: .7em;bottom: 0;}
.bottomleft {left: calc(15vw + .7em);bottom: 0;}
.topright {right: .7em;top: 2.7em;}
.topleft {left: calc(15vw + .7em);top: 2.7em;}
#app #mapsuggest {max-height: calc(100vh - 4.5em);}
#app.tabshidden .topleft, #app.tabshidden .bottomleft {left: .7em;}
#app.navigationhidden .topleft, #app.navigationhidden .topright {top: .7em;}
#app.navigationhidden #mapsuggest {max-height: calc(100vh - 2.5em);}


:root {
    --bg: #292d3e;

    /* Tabs */
    --tab-background: #34324a;
    --tab-suspended: #202331;
    --visible-tab: #717cb470;

    /* Modes */
    --mode-command-fg: #ff5370;
    --mode-explore-fg: #89ddff;
    --mode-insert-fg: #c3e88d;
    --mode-follow-fg: #c792ea;
    --mode-search-fg: #ffcb6b;
    
    /* Suggestions */
    --suggestions-selected: #414863;
    --suggestions-border: #2b2a3e;
    --suggestions-bg: #34324a;
    --url-suggest: #c3e88d;
    --url-search: #f78c6c;
    --url-url: #89ddff;
}
